<ngx-spinner
  bdColor="rgba(51,51,51,0.4)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-form-field class="example-full-width" style="width: 100%; font-size: 13px;">            
                <input matInput [(ngModel)]="buyerCode" placeholder="Поиск клиента по ФИО/электронной почте">
              </mat-form-field>
        </div>
    </div>
</div>
