<ngx-spinner
  bdColor="rgba(51,51,51,0.4)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="mainPGContent">      
    <div class="card-block">
        <div class="row" style="margin-left: 10px; margin-top: 10px;">
            <div class="col-12">
                <div class="productDetailContainer">
                    <div class="mainPageImgDiv">
                      <img src={{selectedProductData.productPhotoUrl}}  alt={{selectedProductData.productNameRus}} title={{selectedProductData.productNameRus}} style="height: 25vh; padding-top: 5px;">
                    </div>       
                    <div *ngIf="buyerVerifyModel?.isEmployees==1; then employeesBlock else notEmployeesBlock"></div> 
                    <ng-template #employeesBlock>    
                      <!--<div class="productDetailPriceDiv">
                        Розн. &nbsp;{{selectedProductData.productRetailPrice | number:'':'fr'}} т.
                      </div>   
                      <div class="productDetailBulkPriceDiv">
                        Опт. &nbsp;&nbsp;{{selectedProductData.productBulkPrice | number:'':'fr'}} т.
                      </div>   -->
                      <div class="row" style="padding-left: 15px;">
                        <div class="col-6 productDetailPriceDiv">
                          Розн: {{selectedProductData.productRetailPrice | number:'':'fr'}} т.
                        </div>
                        <div class="col-6 productDetailBulkPriceDiv">
                          Опт: {{selectedProductData.productBulkPrice | number:'':'fr'}} т.
                        </div>                 
                      </div>                                 
                    </ng-template>                      
                    <ng-template #notEmployeesBlock>    
                      <div *ngIf="buyerVerifyModel?.isPartners==1; then partnersBlock else notPartnersBlock"></div>
                      <ng-template #partnersBlock> 
                        <div class="productDetailPriceDiv">
                          Опт. &nbsp;{{selectedProductData.productBulkPrice | number:'':'fr'}} т.
                        </div>   
                      </ng-template>
                      <ng-template #notPartnersBlock> 
                        <div class="productDetailPriceDiv">
                          Розн. &nbsp;{{selectedProductData.productRetailPrice | number:'':'fr'}} т.
                        </div>   
                      </ng-template>
                    </ng-template>
                    <div class="productDetailNameDiv">
                      {{selectedProductData.productNameRus}}, {{selectedProductData.productUnitName}}
                    </div>
                    <div class="productDetailNameDiv">
                        <b>Код продукта:</b> {{selectedProductData.productCode}}
                    </div>                                     
                    <div class="nameDiv">
                        <b>Описание:</b> {{selectedProductData.productDescrRus}}
                    </div>
                    <div *ngIf="selectedProductData.viewBasket == false; then notViewBasketBlock else viewBasketBlock">
                    </div>
                    <ng-template #notViewBasketBlock>
                      <div class="productDetailBasketDiv" (click) = "addBasket(selectedProductData)">
                        В корзину
                      </div>
                    </ng-template>
                    <ng-template #viewBasketBlock>
                      <div class="productDetailBasketAddDiv">
                        <div class="row">
                          <div class="col-2">
                            <fa-icon [icon]="faMinus" (click) = "delBasketThisProduct(selectedProductData)"></fa-icon>
                          </div>
                          <div class="col-8">                      
                            <div *ngIf="selectedProductData.isWeight == 0; then notWeightProduct else weightProduct"></div>
                            <ng-template #weightProduct>
                              <p name="selectedProductData.productCode" [(ngModel)]="selectedProductData.productCount" ngDefaultControl>{{selectedProductData.productCount | number:'.1'}} {{selectedProductData.productUnitName}}</p>
                            </ng-template>
                            <ng-template #notWeightProduct>
                              <p name="selectedProductData.productCode" [(ngModel)]="selectedProductData.productCount" ngDefaultControl>{{selectedProductData.productCount}} {{selectedProductData.productUnitName}}</p>
                            </ng-template>                      
                          </div>
                          <div class="col-2">
                            <fa-icon [icon]="faPlus" (click) = "addBasketThisProduct(selectedProductData)"></fa-icon>
                          </div>                                        
                        </div>
                      </div>
                    </ng-template>                            
                </div>  

            </div>
        </div>
    </div>
</div>
