<ngx-spinner
  bdColor="rgba(51,51,51,0.4)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="bannerAppContainer">
    <div class="bannerApp">
      <p>
        Совершай покупки <br/>даже офф-лайн!!!
      </p>

      <div class="setDesktopBtn" (click)="installDesktopApp()">
        <p>
          Добавить приложение на главный экран          
        </p>
      </div>
    </div>
</div> 

<div class="mainPGContent">
  <div *ngFor="let pg of productGroups">
    <div style="margin-bottom: 25px;">
      <div class="row" style="margin-bottom: 3px;">
        <div class="col-6 mainPGList">
          {{pg?.productGroupNameRus}}
        </div>        
        <div class="col-6 mainPGProductCount" (click)="goToSubProducts(pg.productGroupId)">
          Смотреть все {{pg?.productsCount}}
        </div>    
      </div>    

      <!-- Карусель товаров (начало) -->     
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let product of pg.products; let i = index">
          <ng-template carouselSlide id={{product.productId}}>
            <div class="productContainer">
              <div class="mainPageImgDiv" (click)="goToProductDetails(product.productCode)">
                <img src={{product.productPhotoUrl}}  alt={{product.productNameRus}} title={{product.productNameRus}} style="height: 13vh; padding-top: 5px;">
              </div>         
              <div class="priceDiv">
                {{product.productRetailPrice}} т.
              </div>   
              <div class="nameDiv">
                {{product.productNameRus}}, {{product.productUnitName}}
              </div>
              <div *ngIf="product.viewBasket == false; then notViewBasketBlock else viewBasketBlock">
              </div>
              <ng-template #notViewBasketBlock>
                <div class="basketDiv" (click) = "addBasket(product)">
                  В корзину
                </div>
              </ng-template>
              <ng-template #viewBasketBlock>
                <div class="basketAddDiv">
                  <div class="row">
                    <div class="col-2">
                      <fa-icon [icon]="faMinus" (click) = "delBasketThisProduct(product)"></fa-icon>
                    </div>
                    <div class="col-6">                      
                      <div *ngIf="product.isWeight == 0; then notWeightProduct else weightProduct"></div>
                      <ng-template #weightProduct>
                        <p name="product.productCode" [(ngModel)]="product.productCount" ngDefaultControl>{{product.productCount | number:'1.1'}} {{product.productUnitName}}</p>
                      </ng-template>
                      <ng-template #notWeightProduct>
                        <p name="product.productCode" [(ngModel)]="product.productCount" ngDefaultControl>{{product.productCount}} {{product.productUnitName}}</p>
                      </ng-template>                      
                    </div>
                    <div class="col-2">
                      <fa-icon [icon]="faPlus" (click) = "addBasketThisProduct(product)"></fa-icon>
                    </div>                                        
                  </div>
                </div>
              </ng-template>                            
            </div>          
          </ng-template>
        </ng-container>    
      </owl-carousel-o>
      <!-- Карусель товаров (конец) -->            
    </div>               
  </div>      
</div>

