<div class="mainPage">
  <div class="mainHeader">
    <div class="logoDiv">
      <img src="assets/img/nurai_logo.png" rel="noreferrer"/>            
    </div>    
    <div class="searchDiv">
    </div>
  </div>

  <div class="bannerAppContainer">
    <div class="bannerApp">
      <p>
        Совершай покупки <br/>даже офф-лайн!!!
      </p>

      <div class="setDesktopBtn" (click)="installDesktopApp()">
        <p>
          Добавить приложение на главный экран
        </p>
      </div>
    </div>
  </div>  

  <router-outlet></router-outlet>
</div>