<div class="mainPage">
  <div class="mainHeader">
    <div class="logoDiv">
      <div class="row">
        <div class="col-2">
            <div class="returnBlock" *ngIf="isComBack" (click)="goToBack()">
              <!--<fa-icon [icon]="faBackspace"></fa-icon>&nbsp;-->
              Назад
            </div>
        </div>
        <div class="col-8">
          <img src="assets/img/nurai_logo.png" rel="noreferrer"/>            
        </div>             
        <div class="col-2">

        </div>           
      </div>
    </div>    
    <div class="searchDiv">
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>  
</div>
<div class="footer">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <div class="footerIconCls">
            <fa-icon [icon]="faHome" size="2x" (click) = "goHome()"></fa-icon>
            Главная
          </div> 
        </div>
        <div class="col-3">
          <div class="footerIconCls">
            <fa-icon [icon]="faBars" size="2x" (click) = "goProductCategories()"></fa-icon>
            Категории
          </div> 
        </div>
        <div class="col-3">
          <div class="footerIconCls">
            <fa-icon [icon]="faShoppingCart" size="2x" (click) = "goBuyerBasket()"></fa-icon>
            Корзина: {{basketModel.productsTotalCount}}
          </div> 
        </div>             
        <div class="col-3">
          <div class="footerIconCls">
            <fa-icon [icon]="faUser" size="2x" (click) = "goBuyerProfile()"></fa-icon>
            Профиль
          </div> 
        </div>                        
      </div>                                      
    </div>  
  </div>
</div>